:root {
    --light-purple: #572EE4;
    --grey-border: #D9D9D9;
}

body {
    font-family: inter;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 510px 2fr;
}

aside {
    height: 800px;
    padding: 0 20px 60px 20px;
    color: white;
    background: url(https://images.unsplash.com/photo-1570191913384-7b4ff11716e7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
aside > h1 {
    font-size: 36px;
    font-weight: 400;
}
aside > p {
    font-size: 20px;
    padding: 0 70px 0 0;
    margin-top: 0;
}

main {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    align-content: center;
}
main > h1 {
    font-size: 36px;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
fieldset {
    margin: 0;
    border: none;
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
}
fieldset > div {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
label {
    font-size: 24px;
    padding: 5px;
}
input {
    width: 280px;
    height: 50px;
    border-radius: 3px;
    border: 2px solid var(--grey-border);
    padding: 0 10px;
    font-size: 15px;
}

.submit > button {
    width: 300px;
    height: 60px;
    color: white;
    background-color: var(--light-purple);
    border: none;
    border-radius: 16px;
    font-size: 30px;
}
.submit > button:active {
    opacity: 70%;
}
.submit > p {
    margin: 15px;
    font-size: 15px;
}

input:focus {
    outline: none !important;
    border: 2px solid var(--light-purple);
}
input:focus:invalid {
    outline: none !important;
    border: 2px solid red;
}
